<section class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio">

  <div  class="rk-portfolio__items">
    <a *ngFor="let producto of service.productos" routerLink="/item" class="rk-item rk-item--flex item-1 rk-size-12 rk-tosize-6 rk-landscape ">
      <div class="item-meta animated fadeInDown ">
        <img src="assets/productos/{{producto.url}}.jpg" alt="">
        <h2>{{producto.titulo}}</h2>
        <p>{{producto.categoria}}</p>
      </div>
    </a>

    
    
  </div>
</section>
